Suppose that the value of a variable customer_type is 'new' and the value of a variable customer_income is 5345662. Store these values in the right variables and then write if statements to check whether the customer is a new customer and whether their income is above  4500000  INR. If so, then print the statement 'target for business loan'.

In [6]:
customer_type = 'new'
customer_income = 5345662
if customer_type=='new' and customer_income>4500000:
    print('Target for Business Loan')

Target for Business Loan

Suppose that the value of a variable customer_type is 'new' and the value of a variable customer_income is 3267678. Store these values in the right variables and then write if-else statements to check whether the customer is a new customer and whether their income is above  4500000  INR. If so, then print the statement 'target for business loan'. If not, then print 'explore opportunities other than for business loans'

In [9]:
customer_type = 'new'
customer_income = 3267678
if customer_type=='new' and customer_income>4500000:
    print('Target for Business Loan')
else:
    print('Explore opportunities other than for business loans')

Explore opportunities other than for business loans

Write if-elif-else statements for the following set of rules on a variable called attendance:

If attendance is perfect ( 30  days), label the employee as outstanding
If attendance is between  25  and  29  days (inclusive), label the employee as satisfactory
If attendance is between  20  and  24  days (inclusive), label the employee as fair
If attendance is below  20  days, label the employee as poor

In [14]:
attendance = int(input('What is the attendance: '))
if attendance==30:
    print('Outstanding')
elif attendance>=25 and attendance<=29:
    print('Satisfactory')
elif attendance>=20 and attendance<=24:
    print('Fair')
else:
    print('Poor')

What is the attendance:  35

Poor

In [22]:
month = input('Enter the month: ')
attendance = int(input('Enter the attendance: '))
if month=='Feb':
    if attendance==30:
        print('The days are not valid')
    elif attendance==28:
        print('You are excellent')
    elif attendance>20 and attendance<28:
        print('Satisfactory')
    elif attendance>30:
        print('You cannot add more than 30')
else:
    if attendance==30:
        print('Outstanding')
    elif attendance>=25 and attendance<=29:
        print('Satisfactory')
    elif attendance>=20 and attendance<=24:
        print('Fair')
    elif attendance>30:
        print('You cannot add more than 30')
    else:
        print('Poor')

Enter the month:  March
Enter the attendance:  35

You cannot add more than 30

Write nested if statements for the following set of rules on two variables called Python_Skill and Math_Skill:

If skill in Python is 'good' and skill in math is 'good', then print 'recommend advanced data structures topics'
If skill in Python is 'good' and skill in math is not 'good', then print 'recommend application development topics'
If skill in Python is not 'good' and skill in math is 'good', then print 'recommend data analytics tools topics'
If skill in Python is not 'good' and skill in math is not 'good', then print 'recommend other topics'

In [27]:
python_skill = input('What is you python skills: ')
maths_skills = input('How is your maths skills: ')

if python_skill=='Good' and maths_skills=='Good':
    print('Advance Data Structures')
elif python_skill=='Good' and maths_skills=='Not Good':
    print('App Dev')
elif python_skill=='Not Good' and maths_skills=='Good':
    print('Data Analytics')
elif python_skill=='Good' and maths_skills=='Good':
    print('Others')

What is you python skills:  Good
How is your maths skills:  Good

Advance Data Structures

In [41]:
python_skill = input('What is you python skills: ').lower()
maths_skills = input('How is your maths skills: ').lower()

if python_skill=='good':
    if maths_skills=='good':
        print('Adv DS')
    elif maths_skills=='not good':
        print('App Dev')
    else:
        print('Pass the correct option')
elif python_skill=='not good':
    if maths_skills=='good':
        print('DA')
    else:
        print('Others')
else:
    print('Pass the correct option')

What is you python skills:  GOOD
How is your maths skills:  goOD

Adv DS

You are working on a program that needs to display a countdown from 10 to 1, followed by the message "Liftoff!". Use a while loop to implement this countdown. Write the Python code to achieve this.

In [67]:
import time
count = int(input('Enter the count: '))
if count==10:
    while count>0:
        print(count)
        count=count-1
        time.sleep(5)
    print('Happy New Year')

Enter the count:  10

10
9
8
7
6
5
4
3
2
1
Happy New Year

Write a program to count how many times a certain character appears in a string.

In [59]:
count = int(input('Enter the number: '))
for i in range(count,0,-1):
    print(i)
print('Happy New Year')

Enter the number:  10

10
9
8
7
6
5
4
3
2
1
Happy New Year

In [65]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Write a program to count how many times a certain character appears in a string.

In [74]:
def count_char(s,char_count):
    count = 0 
    for c in s:
        if c==char_count:
            count+=1
    print(count)

In [83]:
count_char('Rahullululuululu','l')

0

Create a function that calculates and prints the square of 10. Add a docstring to help describe the function.

In [81]:
s = 'rahulululul'
char_count = 'l'
count = 0 
for c in s:
    if c==char_count:
        count+=1
print(count)

4

In [85]:
def add(num1,num2):
    print(num1+num2)

In [89]:
add(10,2)

12

In [91]:
def add():
    num1 = int(input('Enter the number: '))
    num2 = int(input('Enter the number: '))
    print(num1+num2)

In [95]:
add()

Enter the number:  r

ValueError: invalid literal for int() with base 10: 'r'

In [97]:
stu_list = {'sid':1, 'sname':'Rahul'}

In [101]:
type(stu_list)

dict

In [103]:
stu_list

{'sid': 1, 'sname': 'Rahul'}

In [ ]:
'rahululululu'
{'r':1, 'a':1,'h':1,'u':5,'l':4}

In [105]:
s = 'rahululululu'
char_counts = {}
for c in s:
    if c in char_counts:
        char_counts[c]+=1
    else:
        char_counts[c] = 1
print(char_counts)

{'r': 1, 'a': 1, 'h': 1, 'u': 5, 'l': 4}

Create a function that calculates and prints the square of 10. Add a docstring to help describe the function.

In [112]:
word = "Hello Upgrad Welcome to IIITB"
word.count('I')

3

Create a function that calculates and prints the square of 10. Add a docstring to help describe the function.

In [115]:
def num_squared(num):
    """To get the square"""
    print(num**2)

In [117]:
num_squared(10)

100

In [119]:
help(num_squared)

Help on function num_squared in module __main__:

num_squared(num)
    To get the square

Save the string '2024B4A3' in a global variable ID. Then define a function called append_string that appends the string '737G' to the string stored in ID by changing the ID variable itself.

In [122]:
ID = '2024B4A3'

In [154]:
def append_string():
    global ID 
    ID = ID + '737G'
    print(ID)

In [179]:
append_string()

2024B4A3737G737G737G737G737G737G737G737G737G737G737G737G737G

In [181]:
ID

'2024B4A3737G737G737G737G737G737G737G737G737G737G737G737G737G'

In [150]:
a = 1000
def f1():
    global a
    a = 10
    print(a)

f1()

def f2():
    print(a)
f2()

10
10

Write a function that returns the sum and product of the numbers 2 and 3.

In [183]:
def return_numbers(num1,num2):
    print(num1*num2)
    print(num1+num2)

In [185]:
return_numbers(2,3)

6
5

In [187]:
def add(num1,num2):
    total = num1+num2
    print(total)

In [191]:
outcome = add(10,20)

30

In [225]:
type(outcome)

NoneType

In [227]:
def add(num1,num2):
    total = num1+num2
    return total

In [229]:
outcome = add(10,20)

In [231]:
outcome

30

In [233]:
def calc(num1,num2,operation):
    if operation=='all':
        print(num1+num2)
        print(num1-num2)
        print(num1/num2)
        print(num1*num2)
    elif operation=='add':
        print(num1+num2)
    elif operation=='sub':
        print(num1-num2)
    elif operation=='mul':
        print(num1*num2)
    elif operation=='div':
        print(num1/num2)
    else:
        print('Pass the correct option')

In [239]:
output = calc(10,20,'all')

30
-10
0.5
200

In [253]:
type(output)

NoneType

In [313]:
def calc(num1,num2,operation):
    if operation=='all':
        print(num1+num2)
        print(num1-num2)
        print(num1/num2)
        print(num1*num2)
        return{'sum':num1+num2, 'sub':num1-num2,'mul':num1*num2, 'div':num1/num2}

    elif operation=='add':
        return(num1+num2)
    elif operation=='sub':
        return(num1-num2)
    elif operation=='mul':
        return(num1*num2)
    elif operation=='div':
        return(num1/num2)
    else:
        return('Pass the correct option')

In [315]:
output = calc(23434234,2424234234,'all')

2447668468
-2400800000
0.009666654183549494
56810072310366756

In [317]:
output

{'sum': 2447668468,
 'sub': -2400800000,
 'mul': 56810072310366756,
 'div': 0.009666654183549494}

In [319]:
def return_numbers():
    result_sum = print(2+3)
    result_product = print(2*3)

return_numbers()

5
6

In [321]:
def return_numbers():
    """
    Calculates the sum and product of 2 and 3 and returns the two values.
    Returns:
    - int: The sum of the two random numbers
    - int: The product of the two random numbers
    """
    # Declare the two numbers
    num1 = 2
    num2 = 3

    # Calculate sum and product
    summation = num1 + num2
    product = num1 * num2

    # Return both values
    return summation, product

In [323]:
result_sum, result_product = return_numbers()

In [325]:
print(f"Sum: {result_sum}, Product: {result_product}")

Sum: 5, Product: 6