In [ ]:
int, float, string and bool

In [ ]:
alphabets, numbers, underscore 
Numbers should not be at the start 
name = 'Rahul'

In [ ]:
NAME 
name 
Python case senstive programming

In [1]:
for = 'Rahul'

SyntaxError: invalid syntax (3458490339.py, line 1)

In [3]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
for - It has a meaning in Python

In [5]:
For = 'Rahul'

In [7]:
For

'Rahul'

In [9]:
#Index Concept

In [11]:
name = 'Upgrad'

In [13]:
name

'Upgrad'

In [15]:
name[2]

'g'

In [19]:
name[2:5]

'gra'

In [25]:
name[4:1:-1]

'arg'

In [ ]:
step - By default takes +1 that means left to right, if I wnat right to left we have to make it as -1

In [27]:
name[4:0:-2]

'ag'

In [29]:
name[5:0:-2]

'drp'

In [31]:
name[4:0:+1]

''

In [33]:
name[5::-1]

'dargpU'

In [35]:
name[4]

'a'

In [37]:
name[-2]

'a'

In [43]:
name[-2:-5:-1]

'arg'

In [47]:
name[-5:4:-1]

''

In [49]:
name[3::]

'rad'

In [51]:
name[3:]

'rad'

In [53]:
name[-6:0]

''

In [63]:
name = float(input('Enter the name: '))
type(name)

Enter the name:  10

float

In [65]:
name

10.0

In [67]:
#if else

In [95]:
marks = int(input('Enter the number you got: '))
if marks<40:
    print('You are failing the exam') 
else:
    print('You are passing the exam')

Enter the number you got:  50

You are passing the exam

In [ ]:
if condition:
condition = Marks<40

In [ ]:
This gap is known as tab indentation

In [ ]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You are failing the exam')
elif

In [111]:
marks = int(input('Enter the number you got: '))
print('Hello')
if marks<40:
    print('Hello, You are failing the exam') 
    print('Hi')
else:
    print('Hello, You are passing the exam')
print('Hello')

IndentationError: expected an indented block after 'else' statement on line 6 (3468366870.py, line 7)

In [121]:
marks = int(input('Enter your marks: '))
if marks<40:
    print('You are failing the exam')
elif marks>=40 and marks<=60:
    print('You got an avg marks')
else:
    print('You got excellent marks')

Enter your marks:  10

You are failing the exam
You got excellent marks

In [119]:
print('Hi')
print('Hello')
print('How are you')
print 'rahul'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3086790394.py, line 4)

In [137]:
salary = int(input('Enter the salary: '))
if salary<=2500:
    print('The total tax you have to pay is: ', salary*0)
elif salary>2500 and salary<=5000:
    print('The total tax you have to pay is: ', salary*0.05)
elif salary>5000 and salary<=10000:
    print('The total tax you have to pay is: ', salary*0.10)
elif salary>10000 and salary<=20000:
    print('The total tax you have to pay is: ', salary*0.20)
else:
    print('The total tax you have to pay is: Rs',int(salary*0.30))

Enter the salary:  25000

The total tax you have to pay is: Rs 7500

In [133]:
number = int(input('Enter the number: '))
if number%2==0:
    print('You are an even number')
else:
    print('You are an odd number')

Enter the number:  2

You are an even number

In [139]:
#for loops

In [143]:
name = 'Upgrad'
for i in name:
    print(i)

U
p
g
r
a
d

In [149]:
name = 'Accenture'
for i in name:
    print(i+'India',end=" ")

AIndia cIndia cIndia eIndia nIndia tIndia uIndia rIndia eIndia

In [155]:
print('hi',end="\n")
print('Hello')

hi
Hello

In [161]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [165]:
list(range(10,5,-1))

[10, 9, 8, 7, 6]

In [183]:
name = 'accenture'
for i in range(0,len(name)):
    print(name[i],i, end=" ")

a 0 c 1 c 2 e 3 n 4 t 5 u 6 r 7 e 8

In [185]:
sales = [2535,4543,2122,4322]
profit = [544,212,122,333]

In [193]:
sales[1]

4543

In [195]:
profit[1]

212

In [213]:
len(profit)

4

In [215]:
for i in list(range(0,4)):
    print(profit[i]/sales[i])

0.2145956607495069
0.04666519920757209
0.057492931196983975
0.07704766311892643

In [207]:
profit/sales

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [221]:
profit = [324,221,332,555]
sales = [5554,3233,2333]

In [223]:
for i in range(0,len(profit)):[0,1,2,3]
    print(profit[i]/sales[i])

0.0583363341735686
0.06835756263532324
0.14230604372053152

IndexError: list index out of range

In [233]:
numbers = [10,21,22,12,11,43,22,12]
for i in numbers:
    if i%2==0:
        print(i,'You are an even number')
    else:
        print(i,'You are an odd number')

10 You are an even number
21 You are an odd number
22 You are an even number
12 You are an even number
11 You are an odd number
43 You are an odd number
22 You are an even number
12 You are an even number

In [227]:
students = ['enrolled', 'Did not']
for i in students:
    if i=='enrolled':
        print('You enrolled')
    else:
        print('You did not')

You enrolled
You did not

In [239]:
numbers_list = [12,22,43,22,12,32]
result = []
for i in numbers_list:
    if i%2==0:
        result.append(i)
print(result)

[12, 22, 22, 12, 32]

In [241]:
#While loops

In [243]:
for i in 10:
    print(i)

TypeError: 'int' object is not iterable

In [245]:
a =10
for i  in a:
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
Armstrong number

In [247]:
for i in [10,20]:
    print(i)

10
20

In [251]:
for i in '10':
    print(i)

1
0

In [253]:
#We cannot iterate on numbers but we can on lists, tuples, string and so

In [ ]:
#

In [255]:
lsit1 = ['10','20']
for i in lsit1:
    print(i)

10
20

In [281]:
number = input('Enter the number: ')
length= len(number)
result = 0
for i in number:
    result = result+int(i)**length
    print(result)
if int(number)==result:
    print('Armstrong number')
else:
    print('No')

Enter the number:  153

1
126
153
Armstrong number

In [261]:
num = 153
len(num)

TypeError: object of type 'int' has no len()

In [285]:
number = input('Enter the number: ')
length= len(number)
list = []
for i in number:
    list.append(int(i)**length)
    print(list)
if int(number)==sum(list):
    print('Armstrong number')
else:
    print('No')

Enter the number:  153

[1]
[1, 125]
[1, 125, 27]
Armstrong number

In [287]:
#While Loops

In [293]:
#When I want tot iterate on something - For loop is the best option 
#Iterate means picking up value one by one

In [295]:
#While Loop - When we are not sure for how many times the loop will run

In [ ]:
while condition:
    do something

In [333]:
while False:
    print('Hi')

In [339]:
coupouns = 5
utilized = 0
while utilized<coupouns:
    print('Total coupouns left are: ', coupouns-utilized)
    #utilized=utilized+1
    utilized+=1
print('No coupouns left')

Total coupouns left are:  5
Total coupouns left are:  4
Total coupouns left are:  3
Total coupouns left are:  2
Total coupouns left are:  1
No coupouns left

In [ ]:
5! = 5*4*3*2*1

In [351]:
number = int(input('Enter the number: '))
if number<0:
    print('There is no factorial of a negative number')
else:
    result = 1
    while number>=1:
        result = result*number
        number=number-1
    print(result)

Enter the number:  0

1

In [ ]:
num=num-1
num-=1
num=-1

In [353]:
#User Defined Functions

In [355]:
#def - Defining the function

In [357]:
def greeting():
    print('Good Morning')

In [363]:
for i in range(0,4):
    greeting()

Good Morning
Good Morning
Good Morning
Good Morning

In [365]:
def greeting(name):
    print('Good morning', name)

In [369]:
greeting('Vinay')

Good morning Vinay

In [373]:
name = ['A','B','C','D','E']
for i in name:
    greeting(i)

Good morning A
Good morning B
Good morning C
Good morning D
Good morning E

In [375]:
def greeting(name='Learner'):
    print('Good morning', name)

In [377]:
greeting('Punith')

Good morning Punith

In [379]:
greeting()

Good morning Learner

In [401]:
def calculator(num1,num2,operation='all'):
    """This function will be a calculator the operation values are all, sum,sub,div,mul"""
    if operation=='all':
        print(num1+num2)
        print(num1-num2)
        print(num1/num2)
        print(num1*num2)
    elif operation=='sum':
        print(num1+num2)
    elif operation=='sub':
        print(num1-num2)
    elif operation=='div':
        print(num1/num2)
    elif operation=='mul':
        print(num1*num2)
    else:
        print('Pass the correct operation value')

In [399]:
num1 = int(input('Enter the number1: '))
num2 = int(input('Enter the number2: '))
op = input('Enter the operation: ')
calculator(num1,num2,op)

Enter the number1:  25
Enter the number2:  5
Enter the operation:  all

30
20
5.0
125

In [ ]:
calculator()